<div class="container">
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Mi Perfil</a></li>
                <li><a href="#">Contactos</a></li>
                <li class="profile">
                    <img src="path/to/profile-pic.jpg" alt="Antonella Orbelo" />
                    <span>Antonella Orbelo</span>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>
            <a href="inicliente">
                <svg xmlns="http://www.w3.org/2000/svg" width="150" height="50" fill="none" stroke="black"
                    stroke-width="2" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
                </svg>
            </a>
            <img src="https://bit.ly/3xjZ9UH" alt="finanzas" class="header-client-image" />Tabla de Cronograma - Mora
        </h1>
        
        
        <section>
            <div class="green-box">
                <div class="white-box">  
                    <section class="creditos" style="margin-left: 70px;">
                        <div class="informacionpersona-box" style="text-align: left;">
                            <h2>Datos del Cliente</h2>
                            <p>Nombre y Apellido</p>
                            <p>Monto</p>
                            <p>Fecha Inicial</p>
                            <p>Fecha Final: </p>
                            <p>Celular: </p>
                        </div>  
                    </section> 
                    <section class="nombres">
                        <div class="datospersona-box">
                            <div class="nombrepersona">
                                <label for="nombre">Nombre</label>
                                <input type="text" id="nombre" />
                            </div>
                            <div class="nombrepersona">
                                <label for="profesion">Profesión</label>
                                <input type="text" id="profesion" />
                            </div>
                            <div class="nombrepersona">
                                <label for="nombre1">Nombre</label>
                                <input type="text" id="nombre1" />
                            </div>
                            <div class="nombrepersona">
                                <label for="nombre2">Nombre</label>
                                <input type="text" id="nombre2" />
                            </div>
                            <div class="nombrepersona">
                                <label for="nombre3">Nombre</label>
                                <input type="text" id="nombre3" />
                            </div>
                        </div> 
                    </section>
                    <section class="tem">
                        <div class="datospersona-box">
                            <p>TEM</p>
                            <div class="nombrepersona">
                                <label for="tem">Nombre</label>
                                <input type="text" id="tem" />
                            </div>
                        </div> 
                    </section>
                    <section class="persona" style="margin-right: 120px; margin-left: 80px;">
                        <div class="personaimagen-box">
                            <img src="https://bit.ly/4coCZ2p" alt="Mis Clientes" class="header-persona-image" />
                        </div> 
                    </section>
                    
                </div>
                <div class="white-box">  
                    <section class="atraso">
                        <div class="datospersona-box">
                            <p>Dias de Atraso</p>
                            <div class="nombrepersona">
                                <label for="dias-atraso">Nombre</label>
                                <input type="text" id="dias-atraso" />
                            </div>
                        </div> 
                        <div class="datospersona-box">
                            <p>Mora</p>
                            <div class="nombrepersona">
                                <label for="mora">Nombre</label>
                                <input type="text" id="mora" />
                            </div>
                        </div> 
                    </section>
                </div>
            </div>
        </section>
        <div class="buttons">
            <button>Añadir Mora</button>
            <button>Pagar</button>
        </div>
    </main>
</div>
