<div class="container">
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Mi Perfil</a></li>
                <li><a href="#">Contactos</a></li>
                <li class="profile">
                    <img src="path/to/profile-pic.jpg" alt="Antonella Orbelo" />
                    <span>Antonella Orbelo</span>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>
            <a href="inicliente">
                <svg xmlns="http://www.w3.org/2000/svg" width="150" height="50" fill="none" stroke="black"
                    stroke-width="2" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
                </svg>
            </a>
            <img src="https://bit.ly/4epFrHH" alt="inventario" class="header-client-image" />Inventario
        </h1>
    <section>
        <div class="green-box">
            <h2>Frutas y Vegetales</h2>
            <div class="white-box">     
                <svg class="leftarrow" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                </svg>         
                <div class="green-box">
                    <div class="white-box">
                        <img src="https://bit.ly/45vtMmH" alt="comestibles" class="header-comestibles-image" />
                    </div>  
                </div>
                <div class="green-box">
                    <div class="white-box">
                        <img src="https://bit.ly/3RylW5R" alt="comestibles" class="header-comestibles-image" />
                    </div>  
                </div>
                <div class="green-box">
                    <div class="white-box">
                        <img src="https://bit.ly/4c1FSqf" alt="comestibles" class="header-comestibles-image" />
                    </div>  
                </div>
                <div class="green-box">
                    <div class="white-box">
                        <img src="https://bit.ly/3xj0zif" alt="comestibles" class="header-comestibles-image" />
                    </div>  
                </div>
                <svg class="rightarrow" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                  </svg>
            </div>
        </div>
    </section>
    <section>
        <div class="green-box">
            <h2>Granos y Cereales</h2>
            <div class="white-box">
                    <svg class="leftarrow" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                    </svg>     
                <div class="green-box">
                    <div class="white-box">
                        <img src="https://bit.ly/4b7Tf6E" alt="comestibles" class="header-comestibles-image" />
                    </div>  
                </div>
                <div class="green-box">
                    <div class="white-box">
                        <img src="https://bit.ly/4c4FmYs" alt="comestibles" class="header-comestibles-image" />
                    </div>  
                </div>
                <div class="green-box">
                    <div class="white-box">
                        <img src="https://bit.ly/3KQ40zS" alt="comestibles" class="header-comestibles-image" />
                    </div>  
                </div>
                <div class="green-box">
                    <div class="white-box">
                        <img src="https://bit.ly/4cgno4W" alt="comestibles" class="header-comestibles-image" />
                    </div>  
                </div>
                <svg class="rightarrow" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                  </svg>
            </div>
        </div>
    </section>
    <section>
        <div class="green-box">
            <h2>Dulcería y Snacks</h2>
            <div class="white-box">
                <svg class="leftarrow" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                </svg>              
                <div class="green-box">
                    <div class="white-box">
                        <img src="https://bit.ly/4ekbadg" alt="comestibles" class="header-comestibles-image" />
                    </div>  
                </div>
                <div class="green-box">
                    <div class="white-box">
                        <img src="https://bit.ly/3VM5GAV" alt="comestibles" class="header-comestibles-image" />
                    </div>  
                </div>
                <div class="green-box">
                    <div class="white-box">
                        <img src="https://bit.ly/4ervqcW" alt="comestibles" class="header-comestibles-image" />
                    </div>  
                </div>
                <div class="green-box">
                    <div class="white-box">
                        <img src="https://bit.ly/3xj0ScT" alt="comestibles" class="header-comestibles-image" />
                    </div>  
                </div>
                <svg class="rightarrow" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                  </svg>
            </div>
        </div>
    </section>
    </main>
</div>