<div class="container">
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Mi Perfil</a></li>
                <li><a href="#">Contactos</a></li>
                <li class="profile">
                    <img src="ath/to/profile-pic.jppg" alt="Antonella Orbelo" />
                    <span>Antonella Orbelo</span>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>
            <a href="inicliente">
                <svg xmlns="http://www.w3.org/2000/svg" width="150" height="50" fill="none" stroke="black" stroke-width="2" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
                </svg>
            </a>
            <img src="https://bit.ly/4coCZ2p" alt="Mis Clientes" class="header-client-image" />Mis Clientes
        </h1>

        <div class="white-box">
            <h2>Agregar Datos del Consumo</h2>
            <section class="persona1">
                <div class="icons">
                    <img src="https://bit.ly/4coCZ2p" alt="Mis Clientes" class="header-cliente-image" />
                    <div class="input-container">
                        <label for="input1">Dato 1</label>
                        <input type="text" id="input1" />
                    </div>
                    <div class="buttons">
                        <button class="cre1">Crédito 1</button>
                        <button class="cre2">Crédito 2</button>
                        <button class="ver">Ver Créditos</button>
                        <button class="Imprimir">Imprimir</button>
                    </div>
                </div>
            </section>
            <section class="persona1">
                <div class="icons">
                    <img src="https://bit.ly/4coCZ2p" alt="Mis Clientes" class="header-cliente-image" />
                    <div class="input-container">
                        <label for="input2">Dato 2</label>
                        <input type="text" id="input2" />
                    </div>
                    <div class="buttons">
                        <button class="cre1">Crédito 1</button>
                        <button class="cre2">Crédito 2</button>
                        <button class="ver">Ver Créditos</button>
                        <button class="Imprimir">Imprimir</button>
                    </div>
                </div>
            </section>
            <section class="persona1">
                <div class="icons">
                    <img src="https://bit.ly/4coCZ2p" alt="Mis Clientes" class="header-cliente-image" />
                    <div class="input-container">
                        <label for="input3">Dato 3</label>
                        <input type="text" id="input3" />
                    </div>
                    <div class="buttons">
                        <button class="cre1">Crédito 1</button>
                        <button class="cre2">Crédito 2</button>
                        <button class="ver">Ver Créditos</button>
                        <button class="Imprimir">Imprimir</button>
                    </div>
                </div>
            </section>
            <section class="persona1">
                <div class="icons">
                    <img src="https://bit.ly/4coCZ2p" alt="Mis Clientes" class="header-cliente-image" />
                    <div class="input-container">
                        <label for="input4">Dato 4</label>
                        <input type="text" id="input4" />
                    </div>
                    <div class="buttons">
                        <button class="cre1">Crédito 1</button>
                        <button class="cre2">Crédito 2</button>
                        <button class="ver">Ver Créditos</button>
                        <button class="Imprimir">Imprimir</button>
                    </div>
                </div>
            </section>
            <section class="persona1">
                <div class="icons">
                    <img src="https://bit.ly/4coCZ2p" alt="Mis Clientes" class="header-cliente-image" />
                    <div class="input-container">
                        <label for="input5">Dato 5</label>
                        <input type="text" id="input5" />
                    </div>
                    <div class="buttons">
                        <button class="cre1">Crédito 1</button>
                        <button class="cre2">Crédito 2</button>
                        <button class="ver">Ver Créditos</button>
                        <button class="Imprimir">Imprimir</button>
                    </div>
                </div>
            </section>
            <section class="persona1">
                <div class="icons">
                    <img src="https://bit.ly/4coCZ2p" alt="Mis Clientes" class="header-cliente-image" />
                    <div class="input-container">
                        <label for="input6">Dato 6</label>
                        <input type="text" id="input6" />
                    </div>
                    <div class="buttons">
                        <button class="cre1">Crédito 1</button>
                        <button class="cre2">Crédito 2</button>
                        <button class="ver">Ver Créditos</button>
                        <button class="Imprimir">Imprimir</button>
                    </div>
                </div>
            </section>
            <section class="persona1">
                <div class="icons">
                    <img src="https://bit.ly/4coCZ2p" alt="Mis Clientes" class="header-cliente-image" />
                    <div class="input-container">
                        <label for="input7">Dato 7</label>
                        <input type="text" id="input7" />
                    </div>
                    <div class="buttons">
                        <button class="cre1">Crédito 1</button>
                        <button class="cre2">Crédito 2</button>
                        <button class="ver">Ver Créditos</button>
                        <button class="Imprimir">Imprimir</button>
                    </div>
                </div>
            </section>
            <section class="persona1">
                <div class="icons">
                    <img src="https://bit.ly/4coCZ2p" alt="Mis Clientes" class="header-cliente-image" />
                    <div class="input-container">
                        <label for="input8">Dato 8</label>
                        <input type="text" id="input8" />
                    </div>
                    <div class="buttons">
                        <button class="cre1">Crédito 1</button>
                        <button class="cre2">Crédito 2</button>
                        <button class="ver">Ver Créditos</button>
                        <button class="Imprimir">Imprimir</button>
                    </div>
                </div>
            </section>
            <section class="persona1">
                <div class="icons">
                    <img src="https://bit.ly/4coCZ2p" alt="Mis Clientes" class="header-cliente-image" />
                    <div class="input-container">
                        <label for="input9">Dato 9</label>
                        <input type="text" id="input9" />
                    </div>
                    <div class="buttons">
                        <button class="cre1">Crédito 1</button>
                        <button class="cre2">Crédito 2</button>
                        <button class="ver">Ver Créditos</button>
                        <button class="Imprimir">Imprimir</button>
                    </div>
                </div>
            </section>
            <section class="persona1">
                <div class="icons">
                    <img src="https://bit.ly/4coCZ2p" alt="Mis Clientes" class="header-cliente-image" />
                    <div class="input-container">
                        <label for="input10">Dato 10</label>
                        <input type="text" id="input10" />
                    </div>
                    <div class="buttons">
                        <button class="cre1">Crédito 1</button>
                        <button class="cre2">Crédito 2</button>
                        <button class="ver">Ver Créditos</button>
                        <button class="Imprimir">Imprimir</button>
                    </div>
                </div>
            </section>
        </div>
    </main>
</div>
