body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.container {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

/* Header and Navigation Styles */
header {
  width: 100%;
}

.navbar {
  background-image: url("https://i.ibb.co/9Ggn4K3/pexels-photomix-company-868110-1.png"); /* Ruta de la imagen */
  background-size: cover; /* Ajustar el tamaño de la imagen para cubrir el contenedor */
  background-position: center; /* Centrar la imagen */
  background-repeat: no-repeat; /* Evitar que la imagen se repita */
  padding: 20px 0; /* Incrementa el padding para hacer el nav más grande */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Fondo blanco semitransparente */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  max-width: 1200px; /* Ancho máximo para contenido centrado */
  margin: 0 auto; /* Centrar horizontalmente */
}

nav ul li {
  margin: 0 70px; /* Incrementar el margen entre los elementos del nav */
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 1.2em; /* Incrementar el tamaño de la fuente */
}

nav ul li.profile {
  display: flex;
  align-items: center;
}

nav ul li.profile img {
  border-radius: 50%;
  width: 40px; /* Incrementar el tamaño de la imagen */
  height: 40px; /* Incrementar el tamaño de la imagen */
  margin-right: 10px;
}

/* Main Content Styles */
main h1 {
  margin-top: 20px;
  color: #4caf50;
}

main h2 {
  color: #333;
}

.accesses {
  margin-top: 30px;
}

.accesses h3 {
  margin-bottom: 20px;
}

.icons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.icon {
  text-align: center;
  margin: 10px;
}

.icon img {
  width: 50px;
  height: 50px;
}

.buttons button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #45a049;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    padding: 10px;
  }

  .icons {
    flex-direction: column;
  }

  .icon img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 480px) {
  nav ul {
    text-align: center;
  }

  .icon img {
    width: 30px;
    height: 30px;
  }

  .buttons button {
    width: 100%;
  }
}

.header-client-image {
  width: 60px; /* o el tamaño que prefieras */
  height: auto;
  margin-right: 30px; /* Ajusta este valor según el espacio deseado */
}

h1 {
  text-align: left; /* Alinea el contenido a la izquierda */
}

h2 {
  margin-top: 10px; /* Ajusta este valor según la cantidad de espacio deseado */
}

.datoscredi {
  margin-top: 50px; /* Ajusta este valor según la cantidad de espacio deseado */
}

.green-box {
  background-color: #98FB98; /* Color verde pastel */
  padding: 30px; /* Espacio interno alrededor del contenido */
  border-radius: 10px; /* Bordes redondeados opcionales */
  margin-top: 40px; /* Ajusta este valor según el espaciado deseado */
  margin-bottom: 20px; /* Ajusta este valor según el espaciado deseado */
}

.white-box {
  background-color: hwb(120 92% 0%); /* Color verde pastel */
  padding: 20px; /* Espacio interno alrededor del contenido */
  border-radius: 10px; /* Bordes redondeados opcionales */
  margin-top: 20px; /* Ajusta este valor según el espaciado deseado */
  margin-bottom: 10px; /* Ajusta este valor según el espaciado deseado */
}