<div class="container">
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Mi Perfil</a></li>
                <li><a href="#">Contactos</a></li>
                <li class="profile">
                    <img src="path/to/profile-pic.jpg" alt="Antonella Orbelo" />
                    <span>Antonella Orbelo</span>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>
            <a href="inicliente">
                <svg xmlns="http://www.w3.org/2000/svg" width="150" height="50" fill="none" stroke="black"
                    stroke-width="2" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
                </svg>
            </a>
            <img src="https://bit.ly/4csPOc7" alt="finanzas" class="header-client-image" />Mis Finanzas
        </h1>
        <section>
            <div class="green-box">
                <div class="white-box">  
                    <section class="persona" style="margin-right: 120px; margin-left: 80px;">
                        <div class="personaimagen-box">
                            <img src="https://bit.ly/4coCZ2p" alt="Mis Clientes" class="header-persona-image" />
                        </div> 
                    </section>
                    <section class="nombres">
                        <div class="datospersona-box">
                            <mat-form-field class="nombrepersona">
                                <mat-label>Nombre</mat-label>
                                <input matInput />
                            </mat-form-field>
                            <mat-form-field class="nombrepersona">
                                <mat-label>Profesión</mat-label>
                                <input matInput />
                            </mat-form-field>
                            <div class="buttons">
                                <button class="cre1">Ver Detalles</button>
                            </div>
                        </div> 
                    </section>
                    <section class="creditos" style="margin-left: 150px;">
                        <div class="informacionpersona-box" style="text-align: left;">
                            <p>Línea de Crédito: 700</p>
                            <p>Moneda: Soles</p>
                            <p>Monto Utilizado: 515</p>
                            <p>Fecha de Pago: 13 de cada mes</p>
                            <p>Celular: +51 999999999</p>
                        </div>  
                    </section> 
                </div>
            </div>
        </section>
        <section>
            <div class="green-box">
                <div class="white-box">  
                    <section class="persona" style="margin-right: 120px; margin-left: 80px;">
                        <div class="personaimagen-box">
                            <img src="https://bit.ly/4coCZ2p" alt="Mis Clientes" class="header-persona-image" />
                        </div> 
                    </section>
                    <section class="nombres">
                        <div class="datospersona-box">
                            <mat-form-field class="nombrepersona">
                                <mat-label>Nombre</mat-label>
                                <input matInput />
                            </mat-form-field>
                            <mat-form-field class="nombrepersona">
                                <mat-label>Profesión</mat-label>
                                <input matInput />
                            </mat-form-field>
                            <div class="buttons">
                                <button class="cre1">Ver Detalles</button>
                            </div>
                        </div> 
                    </section>
                    <section class="creditos" style="margin-left: 150px;">
                        <div class="informacionpersona-box" style="text-align: left;">
                            <p>Línea de Crédito: 700</p>
                            <p>Moneda: Soles</p>
                            <p>Monto Utilizado: 515</p>
                            <p>Fecha de Pago: 13 de cada mes</p>
                            <p>Celular: +51 999999999</p>
                        </div>  
                    </section> 
                </div>
            </div>
        </section>
        <section>
            <div class="green-box">
                <div class="white-box">  
                    <section class="persona" style="margin-right: 120px; margin-left: 80px;">
                        <div class="personaimagen-box">
                            <img src="https://bit.ly/4coCZ2p" alt="Mis Clientes" class="header-persona-image" />
                        </div> 
                    </section>
                    <section class="nombres">
                        <div class="datospersona-box">
                            <mat-form-field class="nombrepersona">
                                <mat-label>Nombre</mat-label>
                                <input matInput />
                            </mat-form-field>
                            <mat-form-field class="nombrepersona">
                                <mat-label>Profesión</mat-label>
                                <input matInput />
                            </mat-form-field>
                            <div class="buttons">
                                <button class="cre1">Ver Detalles</button>
                            </div>
                        </div> 
                    </section>
                    <section class="creditos" style="margin-left: 150px;">
                        <div class="informacionpersona-box" style="text-align: left;">
                            <p>Línea de Crédito: 700</p>
                            <p>Moneda: Soles</p>
                            <p>Monto Utilizado: 515</p>
                            <p>Fecha de Pago: 13 de cada mes</p>
                            <p>Celular: +51 999999999</p>
                        </div>  
                    </section> 
                </div>
            </div>
        </section>
        <section>
            <div class="green-box">
                <div class="white-box">  
                    <section class="persona" style="margin-right: 120px; margin-left: 80px;">
                        <div class="personaimagen-box">
                            <img src="https://bit.ly/4coCZ2p" alt="Mis Clientes" class="header-persona-image" />
                        </div> 
                    </section>
                    <section class="nombres">
                        <div class="datospersona-box">
                            <mat-form-field class="nombrepersona">
                                <mat-label>Nombre</mat-label>
                                <input matInput />
                            </mat-form-field>
                            <mat-form-field class="nombrepersona">
                                <mat-label>Profesión</mat-label>
                                <input matInput />
                            </mat-form-field>
                            <div class="buttons">
                                <button class="cre1">Ver Detalles</button>
                            </div>
                        </div> 
                    </section>
                    <section class="creditos" style="margin-left: 150px;">
                        <div class="informacionpersona-box" style="text-align: left;">
                            <p>Línea de Crédito: 700</p>
                            <p>Moneda: Soles</p>
                            <p>Monto Utilizado: 515</p>
                            <p>Fecha de Pago: 13 de cada mes</p>
                            <p>Celular: +51 999999999</p>
                        </div>  
                    </section> 
                </div>
            </div>
        </section>
        <section>
            <div class="green-box">
                <div class="white-box">  
                    <section class="persona" style="margin-right: 120px; margin-left: 80px;">
                        <div class="personaimagen-box">
                            <img src="https://bit.ly/4coCZ2p" alt="Mis Clientes" class="header-persona-image" />
                        </div> 
                    </section>
                    <section class="nombres">
                        <div class="datospersona-box">
                            <mat-form-field class="nombrepersona">
                                <mat-label>Nombre</mat-label>
                                <input matInput />
                            </mat-form-field>
                            <mat-form-field class="nombrepersona">
                                <mat-label>Profesión</mat-label>
                                <input matInput />
                            </mat-form-field>
                            <div class="buttons">
                                <button class="cre1">Ver Detalles</button>
                            </div>
                        </div> 
                    </section>
                    <section class="creditos" style="margin-left: 150px;">
                        <div class="informacionpersona-box" style="text-align: left;">
                            <p>Línea de Crédito: 700</p>
                            <p>Moneda: Soles</p>
                            <p>Monto Utilizado: 515</p>
                            <p>Fecha de Pago: 13 de cada mes</p>
                            <p>Celular: +51 999999999</p>
                        </div>  
                    </section> 
                </div>
            </div>
        </section>
        <section>
            <div class="servicios-box">
                <h2>Servicios</h2>
                <div class="white-box">   
                    <div class="green-box">
                        <div class="white-servicios-box">
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="wifi" viewBox="0 0 16 16">
                                <path d="M15.384 6.115a.485.485 0 0 0-.047-.736A12.44 12.44 0 0 0 8 3C5.259 3 2.723 3.882.663 5.379a.485.485 0 0 0-.048.736.52.52 0 0 0 .668.05A11.45 11.45 0 0 1 8 4c2.507 0 4.827.802 6.716 2.164.205.148.49.13.668-.049"/>
                                <path d="M13.229 8.271a.482.482 0 0 0-.063-.745A9.46 9.46 0 0 0 8 6c-1.905 0-3.68.56-5.166 1.526a.48.48 0 0 0-.063.745.525.525 0 0 0 .652.065A8.46 8.46 0 0 1 8 7a8.46 8.46 0 0 1 4.576 1.336c.206.132.48.108.653-.065m-2.183 2.183c.226-.226.185-.605-.1-.75A6.5 6.5 0 0 0 8 9c-1.06 0-2.062.254-2.946.704-.285.145-.326.524-.1.75l.015.015c.16.16.407.19.611.09A5.5 5.5 0 0 1 8 10c.868 0 1.69.201 2.42.56.203.1.45.07.61-.091zM9.06 12.44c.196-.196.198-.52-.04-.66A2 2 0 0 0 8 11.5a2 2 0 0 0-1.02.28c-.238.14-.236.464-.04.66l.706.706a.5.5 0 0 0 .707 0l.707-.707z"/>
                            </svg>
                            <p>CIP: 556723</p>
                            <p>Monto: 230.00</p>
                            <p>Empresa: Movistar</p>
                        </div>  
                    </div>
                    <div class="green-box">
                        <div class="white-servicios-box">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="agua" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0q.164.544.371 1.038c.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8m.413 1.021A31 31 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10c0 0 2.5 1.5 5 .5s5-.5 5-.5c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/>
                                <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87z"/>
                              </svg>
                            <p>CIP: 5-776231</p>
                            <p>Monto: 315.00</p>
                            <p>Empresa: Sedapal</p>
                        </div>  
                    </div><div class="green-box">
                        <div class="white-servicios-box">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="luz" viewBox="0 0 16 16">
                                <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.46-.302l-.761-1.77a2 2 0 0 0-.453-.618A5.98 5.98 0 0 1 2 6m3 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1-.5-.5"/>
                              </svg>
                            <p>CIP: 34156231</p>
                            <p>Monto: 400.00</p>
                            <p>Empresa: Luz del Sur</p>
                        </div>  
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
