<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=
  , initial-scale=1.0">
  <title>Login</title>
</head>
<body>

  <h2>BEBA ARMY</h2>
  <div class="container" id="container" #container>
    <div class="form-container sign-up-container">
      <form (submit)="registerUser(); $event.preventDefault();">
        <h1>Create Account</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>Utiliza tu correo electrónico para registrarte</span>
        <input type="text" #signUpName placeholder="Nombre" required />
        <input type="email" #signUpEmail placeholder="Correo" required />
        <input type="password" #signUpPassword placeholder="Contraseña" required />
        <button type="submit">Sign Up</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form (submit)="loginUser(); $event.preventDefault();">
        <h1>Sign in</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>Usa tu cuenta</span>
        <input type="email" #signInEmail placeholder="Correo" required />
        <input type="password" #signInPassword placeholder="Contraseña" required />
        <a href="#">¿Olvidaste tu contraseña?</a>
        <button type="submit">Sign In</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>¡Bienvenido de nuevo!</h1>
          <p>Para mantenerse conectado con nosotros, inicie sesión con su información personal</p>
          <button class="ghost" id="signIn" #signInButton>Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hola, Amigo!</h1>
          <p>Introduce tus datos personales y comienza experiencia con nosotros.</p>
          <button class="ghost" id="signUp" #signUpButton>Sign Up</button>
        </div>
      </div>
    </div>
  </div>


<footer>
	<p>
		UNIVERSIDAD PERUANA DE CIENCIAS APLICADAS <i class="fa fa-heart"></i> by
		<a target="_blank"> UPC </a>.
	</p>
</footer>


</body>
</html>
